<%- model_class = AccountTransaction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-hover arrow">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:transaction_type) %></th>
      <th><%= model_class.human_attribute_name(:account_number) %></th>
      <th><%= model_class.human_attribute_name(:transaction_number) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>

  <% AccountTransaction.all.each do |account_transaction| %>
      <% if current_user.id == account_transaction.bank_account.client_id %>
            <tr>
              <td><%= link_to account_transaction.id, account_transaction_path(account_transaction) %></td>
              <td><%= account_transaction.transaction_type %></td>
              <td><%= account_transaction.bank_account.account_number %></td>
              <td><%= account_transaction.transaction_number %></td>
              <td>R$ <%= account_transaction.amount %></td>
              <td><%=l account_transaction.created_at %></td>
            </tr>
        </tbody>
      <% end %>
  <% end %>
</table>
<%= paginate @account_transactions %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_transaction_path,
            :class => 'btn btn-primary' %>

