<% if current_client %>
  <h1>Welcome <%= current_client.full_name %></h1>
  <h3>CPF: <%= current_client.cpf %></h3>
  <h3>Client Bank ID: <%= current_client.client_number %></h3><br>
    <% if current_client %>
      <h3>Number of Accounts: <%= BankAccount.pluck(current_client.id).count %></h3><br>
    <% end %>
  <%= link_to "Log Out", logout_path, :class => 'btn btn-default btn-md'%>
<% else %>
  <h1>ATM Cash Machine</h1>
<% end %>